/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Color Variables for Light and Dark theme */
[data-theme="light"] {
  --color-bg: #e5f7f4;
  --titlecolor1: #2B283A;
  --title-color2: #10B981;
  --subtitle-color: #6B7280;
  --button-bg: #10B981;
  --button-color: white;
  --display-bg: #2F3E53;
  --display-color: #55F991;
}

[data-theme="dark"] {
  --color-bg: #1F2937;
  --titlecolor1: white;
  --title-color2: #4ADF86;
  --subtitle-color: #D5D4D8;
  --button-bg: #10B981;
  --button-color: white;
  --display-bg: #2F3E53;
  --display-color: #5DEF92;
}



body{
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 80%;
  margin: 0 auto;
  background: var(--color-bg);
}

#dark-light-container{
  max-width: 80%;
  display: flex;
}


/* Styling Dark/Light Toggle button */
#darklight-btn-el{
  justify-content: start;
  margin-top: 1rem;
}

/* Styling Title */ 
h1{
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--titlecolor1);
  margin: 1.5rem auto 1rem auto;
  margin-bottom: 1rem;
}

#title-color2{
  color: var(--title-color2);
  display: block;
}

/* Styling sub-title and label*/
p, label{
  color: var(--subtitle-color);
  margin-bottom: 0.8rem;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.8rem;
}

.flex-container, .container{
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/* Styling buttons */ 
.buttons{
  background: var(--button-bg);
  color: var(--button-color);
  font-family: "Inter", sans-serif;
  border-radius: 1em;
  width: 15%;
  height: 2rem;
  margin: 0.7rem;
  border: none;
  cursor: pointer;
}

.password-display{
  background: var(--display-bg);
  color: var(--display-color);
  text-align: center;
  border-radius: 1em;
  width: 18%;
  height: 2rem;
  padding-top: 0.4rem; 
  margin: 0.7rem;
}


/* Style password length slider */
input{
  text-align: center;
}

#pwslider-display-el{
  color: var(--title-color2);
}

/* Media Queries */ 


/* Mobile Phones*/ 
@media (max-width:600px)  {
   /* Increase button and password display size */ 
   .buttons{
    width: 60%;
  }

  .password-display{
    width: 80%;
  }
  }

/* Tablets */ 
@media (max-width:888px)  {
  /* Increase button and password display size */ 
  .buttons{
    width: 35%;
  }
  
  .password-display{
    width: 50%;
  }

  }


  